################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/CoreBackEnd/bin
/CoreASPNET/bin
/CoreBackEnd/obj
/CoreASPNET/obj
/CoreASPNET/*.user
/CoreASPNET/wwwroot/lib
/CoreModel/bin
/CoreModel/obj
/CoreDAL/obj
/CoreDAL/bin/Debug/netcoreapp2.0
