################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/CoreTest/v15
/CoreBackEnd/bin
/CoreASPNET/bin
/CoreBackEnd/obj
/CoreASPNET/obj
/CoreASPNET/bower_components
/CoreASPNET/Properties/PublishProfiles
/CoreASPNET/*.user
/CoreASPNET/*.user
/CoreASPNET/wwwroot/lib
/CoreModel/bin/Debug/netcoreapp2.0
/CoreModel/obj
