<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="AgentWall,Login">
    <meta name="author" content="Formaxcn">
    <title>Agent Wall - Login</title>
    <link rel="icon" href="../../favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Styles/Home/login.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <form class="form-signin" id="loginForm">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me" id="rememberCheck" checked> Remember me
                </label>
            </div>
            <a class="btn btn-lg btn-primary btn-block" href="javascript:;" id="loginBtn">Sign in</a>
        </form>
    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript================================================== -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/bcryptjs/dist/bcrypt.min.js"></script>
    <script src="~/lib/jshashes/hashes.min.js"></script>

    <script src="~/Scripts/home/login.js"></script>
</body>
</html>
